.trip {
  margin: 4rem 6rem;
  color: #2a2a2a;
  margin-top: 10rem;
}

.trip h1 {
  font-size: 3rem;
  padding: 0rem 20rem;
  margin: auto;
}

.trip img{
  width: 20rem;
  height: 12rem;
}

.hotel {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.hotel h2 {
  margin-left: 5rem;
}

.hotel p {
  width: 40rem;
  text-align: justify;
  margin-left: 4rem;
  margin-top: 3rem;
}

.booker {
  margin-left: 5rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #2f2f2f;
  color: white;
  border-radius: 0.4rem;
  text-decoration: none;
}

.booker:hover{
  background-color: #242424;
  color: white;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

